{% include "html/header.html"%}
{% include "html/navbar.html"%}


<div class="container-fluid" id="contentbox-title">

    <div class="row">
        <div class="col">
            <h1>Bienvenido a SAMBi</h1>
        </div>
    </div>
    
</div>

<div class="container-fluid" id="contentbox">

    <div class="container" id="contents">
        <div class="row">
            <div class="col d-flex justify-content-center" id="message">
                <h3>Para iniciar sesion, presione el boton a continuacion</h3>
            </div>
        </div>
    
        <div class="row">
            <div class="col d-flex justify-content-center">
                <a href="facerecon" class="btn btn-dark btn-lg " >
                    <i class="bi bi-box-arrow-in-right"></i>
                </a>
            </div>
        </div>
    </div>

</div>


{% include "html/footer.html"%}
